USE [master]
GO
/****** Object:  Database [ProjeEntity]    Script Date: 9.05.2022 17:23:19 ******/
CREATE DATABASE [ProjeEntity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjeEntity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProjeEntity.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjeEntity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ProjeEntity_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjeEntity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjeEntity]
GO
/****** Object:  Table [dbo].[TblKategori]    Script Date: 9.05.2022 17:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblKategori](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
 CONSTRAINT [PK_TblKategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblMusteri]    Script Date: 9.05.2022 17:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblMusteri](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](20) NULL,
	[MUSTERISOYAD] [varchar](20) NULL,
	[SEHIR] [varchar](15) NULL,
 CONSTRAINT [PK_TblMusteri] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblSatıs]    Script Date: 9.05.2022 17:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSatıs](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TblSatıs] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblUrun]    Script Date: 9.05.2022 17:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUrun](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MARKA] [varchar](20) NULL,
	[STOK] [smallint] NULL,
	[FİYAT] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
	[KATEGORİ] [int] NULL,
 CONSTRAINT [PK_TblUrun] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TblKategori] ON 

INSERT [dbo].[TblKategori] ([ID], [AD]) VALUES (1, N'Pantolon')
INSERT [dbo].[TblKategori] ([ID], [AD]) VALUES (2, N'Elbise')
INSERT [dbo].[TblKategori] ([ID], [AD]) VALUES (3, N'TShirt')
SET IDENTITY_INSERT [dbo].[TblKategori] OFF
SET IDENTITY_INSERT [dbo].[TblMusteri] ON 

INSERT [dbo].[TblMusteri] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [SEHIR]) VALUES (1, N'Beyza ', N'Ak', N'Trabzon')
INSERT [dbo].[TblMusteri] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD], [SEHIR]) VALUES (2, N'Sıla', N'Cansız', N'İstanbul')
SET IDENTITY_INSERT [dbo].[TblMusteri] OFF
SET IDENTITY_INSERT [dbo].[TblUrun] ON 

INSERT [dbo].[TblUrun] ([URUNID], [URUNAD], [MARKA], [STOK], [FİYAT], [DURUM], [KATEGORİ]) VALUES (1, N'Keten Pantolon', N'Zara', 40, CAST(250.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TblUrun] ([URUNID], [URUNAD], [MARKA], [STOK], [FİYAT], [DURUM], [KATEGORİ]) VALUES (2, N'Askılı Elbise', N'Bershka', 25, CAST(335.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[TblUrun] ([URUNID], [URUNAD], [MARKA], [STOK], [FİYAT], [DURUM], [KATEGORİ]) VALUES (3, N'Baskılı', N'Mavi', 61, CAST(145.00 AS Decimal(18, 2)), 1, 3)
SET IDENTITY_INSERT [dbo].[TblUrun] OFF
ALTER TABLE [dbo].[TblSatıs]  WITH CHECK ADD  CONSTRAINT [FK_TblSatıs_TblMusteri] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TblMusteri] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TblSatıs] CHECK CONSTRAINT [FK_TblSatıs_TblMusteri]
GO
ALTER TABLE [dbo].[TblSatıs]  WITH CHECK ADD  CONSTRAINT [FK_TblSatıs_TblUrun] FOREIGN KEY([URUN])
REFERENCES [dbo].[TblUrun] ([URUNID])
GO
ALTER TABLE [dbo].[TblSatıs] CHECK CONSTRAINT [FK_TblSatıs_TblUrun]
GO
ALTER TABLE [dbo].[TblUrun]  WITH CHECK ADD  CONSTRAINT [FK_TblUrun_TblKategori] FOREIGN KEY([KATEGORİ])
REFERENCES [dbo].[TblKategori] ([ID])
GO
ALTER TABLE [dbo].[TblUrun] CHECK CONSTRAINT [FK_TblUrun_TblKategori]
GO
USE [master]
GO
